<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.feng.parklotback.mapper.ParkingSpaceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="edu.feng.parklotback.pojo.ParkingSpace">
        <id column="id" property="id" />
        <result column="parking_space" property="parkingSpace" />
        <result column="remaining_space" property="remainingSpace" />
        <result column="all_space" property="allSpace" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parking_space, remaining_space, all_space
    </sql>

    <select id="findAll" resultType="edu.feng.parklotback.pojo.ParkingSpace">
        SELECT * FROM parking_space
    </select>

    <select id="getSpace" resultType="Integer">
        SELECT remaining_space FROM parking_space
    </select>


</mapper>
